* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --PRIMARY: #cf1f30;
  --PRIMARYDARK: hsl(354, 74%, 17%);
  --PRIMARYMID: hsl(354, 74%, 67%);
  --PRIMARYLIGHT: hsl(354, 74%, 87%);

  --SECONDARY: #fdef6d;
  --SECONDARY2: hsl(54, 97%, 41%);
  --SECONDARY3: hsl(54, 97%, 91%);

  --BG: hsl(354, 74%, 95%);
  --TEXT: hsl(354, 74%, 10%);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: var(--BG);
  color: var(--TEXT);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

nav {
  border-bottom: 1px solid var(--PRIMARYDARK);
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--SECONDARY3);
}

nav > div {
  width: 80%;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  color: var(--PRIMARYDARK);
}

a:hover {
  cursor: pointer;
  color: var(--PRIMARY);
}

#home,
#register,
#dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.my-grid {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.left-grid,
.right-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs,
.grid-image {
  width: 80%;
  height: 90%;
  border: 2px solid var(--PRIMARY);
  background-color: var(--SECONDARY3);
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-image {
  border: none;
  background-color: inherit;
  padding: 0;
}

.label-input {
  margin: 16px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin-top: 4px;
  padding: 8px 16px;
}

input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}

.form-button {
  padding: 8px 16px;
  margin: 16px;
  width: 100%;
  background-color: var(--SECONDARY);
  font-style: inherit;
  font-size: 1.1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--PRIMARYLIGHT);
}
